



<!-- 
            <h3>Metodos de simulación</h3>
            <hr>
            <br> -->
            <section id="hero">
                    <div class="row">
                      <div class="col-4 d-flex justify-content-center align-items-center">
                          <img src="../../../assets/images.jpg"alt="Grafico" height="70%" width="70%">
                      </div>
                    <div class="col-lg-8  order-2 order-lg-1 float-right" data-aos="fade-up" data-aos-delay="200">
                      <h3>Sistema de Simulación Ingresos y Egresos de Pacientes Covid-19 De Hospital General Manta-IESS</h3> 
                       <p> La infección por coronavirus, causante de COVID-19, produce cuadros clínicos de diferente gravedad, evolucionando en los casos más graves a cuadros de insuficiencia respiratoria aguda con distrés respiratorio que precisan del ingreso en una unidad de cuidados intensivos (UCI) y de ventilación mecánica provancado que el sistema de emergencias de la unidad se sature. </p>
                     <p>por ende surgio le necesidad de establecer un triaje al ingreso, basado en privilegiar la “mayor esperanza de vida”, y unos criterios de ingreso claros y de descarga de la UCI, basados en un principio de proporcionalidad y de justicia distributiva, para maximizar el beneficio del mayor número posible de personas y aumentar la disponibilidad de los recursos.</p>
                     <div class="row">
                      <div class="col-4 d-flex justify-content-center align-items-center">
                          <img src="../../../assets/hosptial.jpg"alt="Grafico" height="100%" width="100%">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                          <img src="../../../assets/covid2.jpg"alt="Grafico" height="100%" width="100%">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                          <img src="../../../assets/personal.jpg"alt="Grafico" height="100%" width="100%">
                        </div>
                      </div>
                      
<hr>            
<hr>            
<br>  
        <!--   <h2 style="color: rgb(55, 90, 104);">Autora: Catherin Santana Delgado - 6to Nivel</h2>

                      <div class="d-lg-flex">
                        <a style="background-color: rgb(130, 189, 207);" href="https://drive.google.com/file/d/1ZX4cjuXtwTIlURw9yKmY3RShyHlcmsps/view?usp=sharing" target="_blank" class="btn-get-started scrollto">Manual de usuario</a>
                        <a style="background-color: rgb(134, 194, 194);" href="https://drive.google.com/file/d/1tLa7IL4_9JkfOJhBUV0BhUzHbT59Hz0g/view?usp=sharing" target="_blank" class=" ml-2 btn-get-started scrollto">Informe del proyecto</a>
                        <a style="background-color: rgb(231, 143, 127);" href="https://www.youtube.com/watch?v=65d_tXKhpTg" target="_blank" class=" ml-2 btn-get-started scrollto">Video explicativo</a>

                      </div>
                    </div>              
                </div>
            
              </section> End Hero -->
</div>