<div class="container">
    <h1 class="text-center">Método promedio movil</h1>
    <div class="container">
        <!-- generar muestra inputs dinamicos para muestra -->
        <div class="d-flex justify-content-center align-items-center">
            <form class="col-4 mt-5 ">
                <div class="mb-3">
                    <label class="form-label">Agregue la muestra separada con una coma</label>
                    <textarea type="text" class="form-control" placeholder="999, 877, 54, 111, 545, 22, 22, 45, 44, 4"
                        [(ngModel)]="muestra" [ngModelOptions]="{ standalone: true }" style="height: 80px"
                        required></textarea>
                </div>
                <button type="submit" class="btn btn-danger col-12" (click)="aggMuestra()">
                    Agregar y calcular
                </button>
                <button type="button" class="btn btn-info col-12 mt-2" (click)="generarGrafico()" *ngIf="grafico">
                    Generar gráfico
                  </button>
                
            </form>
        </div>
        <div class="col m-auto text-center " *ngIf="grafico" >

        <div class="container mt-5" style="overflow-y: auto; overflow-x: hidden; max-height: 400px">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">MUESTRA</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="x">
                            <tr *ngFor="let result of x">
                                <td>{{ result }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">MMO_3</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="MMO3">
                            <tr *ngFor="let result of MMO3">
                                <td>{{ result }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">MMO_4</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="MMO4">
                            <tr *ngFor="let result of MMO4">
                                <td>{{ result }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">e_MM3</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="eMM3">
                            <tr *ngFor="let result of eMM3">
                                <td>{{ result }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">e_MM4</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="eMM4">
                            <tr *ngFor="let result of eMM4">
                                <td>{{ result }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
<br><br>

  <div class="d-flex justify-content-center align-items-center">

    <img *ngIf="mostrar" src="{{url+'graficopm/'+x+'/'+MMO3+'/'+MMO4}}" width="600px" />

</div>