

  <!-- Sidebar -->
  <!-- <div class="sidebar">
    <h5>Técnicas de simulación</h5>
    <label for="">Metodos estadísticos</label>
    <a [routerLink]="['/estadisticos']" class="dropdown-item">Media Mediana y Moda</a>
  
  </div>
  
  <div class="container mt-5">

    <router-outlet>
  
    </router-outlet>
</div> -->


<div class="sidebar">

<h5 class="text-center mt-2">Métodos</h5>  
<hr>
  <strong class="ml-3">Estadisticos</strong>
  <hr>

  <!-- <a [routerLink]="['/home']" class="dropdown-item active">Inicio</a> -->
  <a [routerLink]="['/estadisticos']" class="dropdown-item active">Media Mediana y Moda</a>

</div>

<div class="content">
  <div class="mt-5">

    <router-outlet>
      
    </router-outlet>
  </div>
</div>

