
body{
    background-color: rgb(209, 207, 207);
}
.btn-danger {
    background-color:#04AA6D;

    border-color:#04AA6D;
}

.btn-danger.focus, .btn-danger:focus {

    background-color:#06925f !important;

    border-color:#06925f !important;


}


